

<div class="container">
    <center>
        <div>
            <p style="font-size:6vw;font-weight:bold">Traducciones</p>
        </div>
        <div>
            <img src="~/images/contruccion_web.jpg" />
        </div>
    </center>

</div>