

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        a:link, a:visited, a:active {
            text-decoration: none;
        }
    </style>
</head>
<body>

    <div class="container">
        <h2>Catalogos</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="col-md-12">
                        <td class="col-md-6">Adchannels</td>

                        <td class="col-md-6"><a asp-controller="CatalogsAdchannels" asp-action="Index" class="btn-sm btn-success" role="button">Ingresar</a></td>
                    </tr>
                    <tr>
                        <td>Career</td>
                        <td class="col-md-6"><a asp-controller="CatalogsCareers" asp-action="Index" class="btn-sm btn-success" role="button">Ingresar</a></td>
                    </tr>

                    <tr>
                        <td>Cause</td>
                        <td class="col-md-6"><a asp-controller="CatalogsCauses" asp-action="Index" class="btn-sm btn-success" role="button">Ingresar</a></td>
                    </tr>
                    <tr>
                        <td>Companyservice</td>
                        <td class="col-md-6"><a asp-controller="CatalogsCompanyservices" asp-action="Index" class="btn-sm btn-success" role="button">Ingresar</a></td>
                    </tr>
                    <tr>
                        <td>Company type</td>
                        <td class="col-md-6"><a asp-controller="CatalogsCompanytypes" asp-action="Index"  class="btn-sm btn-success" role="button">Ingresar</a></td>
                    </tr>
                    <tr>
                        <td>Country</td>
                        <td class="col-md-6"><a asp-controller="CatalogsCountries" asp-action="Index" class="btn-sm btn-success" role="button">Ingresar</a></td>

                    </tr>
                    <tr>
                        <td>Currency</td>
                        <td class="col-md-6"><a asp-controller="CatalogsCurrencies" asp-action="Index" class="btn-sm btn-success" role="button">Ingresar</a></td>

                    </tr>
                    <tr>
                        <td>Exparea</td>
                        <td class="col-md-6"><a asp-controller="CatalogsExpareas" asp-action="Index" class="btn-sm btn-success" role="button">Ingresar</a></td>

                    </tr>
                    <tr>
                        <td>Expsector</td>
                        <td class="col-md-6"><a asp-controller="CatalogsExpsectors" asp-action="Index" class="btn-sm btn-success" role="button">Ingresar</a></td>

                    </tr>
                    <tr>
                        <td>Interest</td>
                        <td class="col-md-6"><a asp-controller="CatalogsInterests" asp-action="Index" class="btn-sm btn-success" role="button">Ingresar</a></td>

                    </tr>
                    <tr>
                        <td>Language</td>
                        <td class="col-md-6"><a asp-controller="CatalogsLanguages" asp-action="Index" class="btn-sm btn-success" role="button">Ingresar</a></td>

                    </tr>
                    <tr>
                        <td>Mailcontent</td>
                        <td class="col-md-6"><a asp-controller="CatalogsMailcontents" asp-action="Index" class="btn-sm btn-success" role="button">Ingresar</a></td>

                    </tr>
                    <tr>
                        <td>Notificationtype</td>
                        <td class="col-md-6"><a asp-controller="CatalogsNotificationtypes" asp-action="Index" class="btn-sm btn-success" role="button">Ingresar</a></td>

                    </tr>
                    <tr>
                        <td>Occ time interval</td>
                        <td class="col-md-6"><a asp-controller="CatalogsOcctimeintervals" asp-action="Index" class="btn-sm btn-success" role="button">Ingresar</a></td>

                    </tr>
                    <tr>
                        <td>Opening class</td>
                        <td class="col-md-6"><a asp-controller="CatalogsOpeningclasses" asp-action="Index" class="btn-sm btn-success" role="button">Ingresar</a></td>

                    </tr>
                    <tr>
                        <td>Opening phase</td>
                        <td class="col-md-6"><a asp-controller="CatalogsOpeningphases" asp-action="Index" class="btn-sm btn-success" role="button">Ingresar</a></td>

                    </tr>
                    <tr>
                        <td>Opening service</td>
                        <td class="col-md-6"><a asp-controller="CatalogsOpeningservices" asp-action="Index" class="btn-sm btn-success" role="button">Ingresar</a></td>

                    </tr>
                    <tr>
                        <td>Profession</td>
                        <td class="col-md-6"><a asp-controller="CatalogsProfessions" asp-action="Index" class="btn-sm btn-success" role="button">Ingresar</a></td>

                    </tr>
                    <tr>
                        <td>State</td>
                        <td class="col-md-6"><a asp-controller="CatalogsStates" asp-action="Index" class="btn-sm btn-success" role="button">Ingresar</a></td>

                    </tr>

                </tbody>
            </table>
            </div>
        </div>
        <footer>
            &copy; 2021 - Admin Matteria  @*<a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
        </footer>
</body>

</html>
